body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  /* 
  https://willianjusten.com.br/menu-sticky-e-smooth-scroll-com-css-puro/*/
}

:root {
  --azul-forte: rgb(29, 50, 70);
  --azul-fraco: rgb(39, 127, 209);
}

.carousel-item img {
  height: 400px;
  width: 100%;
}

/* colocar uma animação mais suave */
.carousel-item img:hover {
  transform: scale(1.2);
}

#skills svg {
  filter: drop-shadow(0px 3px 3px var(--dark));
}

#skills svg:hover {
  filter: drop-shadow(0px 3px 5px var(--dark));
  transform: translateX(-3px);
}

.sanbox-icon{
  width: 1.8rem;
}

.expo-icon{
  width: 2.2rem;
}

.fab:hover, .sanbox-icon:hover, .expo-icon:hover {
  transform: translateX(-3px);
}

.ldBar-label {
  text-align: center;
}

.list-group-item-action {
  background: var(--azul-forte) !important;
}

.tab-pane .list-group-item {
  background: var(--azul-fraco);
}

.list-group-item-action:first-child {
  border-top-left-radius: 3.25rem;
}

.tab-pane .list-group-item:first-child {
  border-top-right-radius: 3.25rem;
}
